<!DOCTYPE html>
<html lang="en">

<head>
    <title>operations</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    </link>


</head>

<body>
    <div class="calc">
        <h2>operations</h2>
        <div>
            <form action="/incre" method="post">
                x : <input type="text" name="x"></br></br>

                <input type="submit" value="incre" name="++">

            </form>
        </div>
    </div>

</body>

</html>